img {
    width: 171px;
    height: 243px;
}
.movie-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: min(628px, 90vw);
    margin-inline: auto;
    text-align: center;
}

@media only screen and (min-width: 900px){
    .movie-card {
       display: flex;
       flex-direction: row;
       justify-content: flex-start;
       align-items: flex-start;
    }
    .movie-card span {
        text-align: justify;
        margin-left: 50px;
    }
}